<div class="container">
  <div class="row border border-light">
    <div class="col-lg-6 border-right border-light">
      Name
    </div>
    <div class="col-lg-6">
      {{activatedNode.categoryName}}
    </div>
  </div>
  <div class="row border border-light">
    <div class="col-lg-6 border-right border-light">
      Description
    </div>
    <div class="col-lg-6">
      {{activatedNode.categoryDescription}}
    </div>
  </div>
</div>
