<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <app-treeform
        (addNode)="onAddNode($event)"
        (deleteNode)="onDelNode($event)"
        (updateNode)="onUpdNode($event)">
      </app-treeform>
    </div>
    <div class="col-lg-5">
      <app-tree

      >
      </app-tree>
    </div>
  </div>
</div>

