.scrollable {
  padding-top: 20px;
  padding-left: 10px;
  overflow: auto;
  height: 350px;
}

ul {
  padding-top: 0px;
  padding-bottom: 0px;
  list-style-type: none;
}
li {
  padding-top: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
