<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="container border-left border-light" style="padding-top: 20px;">
        <h4>Taxonomy Tree</h4>
        <hr>
        <div class="div border border-light scrollable" *ngIf="treeNodes.length !== 0; else notree">
          <div class="col-lg-5">
            Categories
            <hr>
          </div>
          <div class="div" style="padding-left: 20px;">
            <app-treenode *ngFor="let node of treeNodes"
                          [treeNode]="node"
                          (activateEmitter)="onActivation($event)">
            </app-treenode>
          </div>
        </div>

        <button class="btn btn-primary" (click)="changeEditable($event)">Edit Tree</button>

      <div class="container border-left border-light" *ngIf="state.ActiveNode">
        <h4>Description</h4>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <app-nodedescription [activatedNode] = state.ActiveNode></app-nodedescription>
          </div>
        </div>
      </div>
      <ng-template #notree>
        <div class="border border-danger">
          <p style="padding: 15px;">No nodes added. You must fill up the form and hit add node to populate the taxonomy editor.</p>
        </div>
      </ng-template>
    </div>
  </div>
    <div class="col-lg-4" *ngIf="isEditable">
      <app-nodeform (addNode)="addNode($event)"
                    (deleteNode)="removeNode()"
                    (addRootNode)="addRootNode($event)"
                    (updateNode)="updateNode($event)"
                    (isFormInit)="isFormInitiated = $event"
                    [state]="state">
      </app-nodeform>
      <app-transactionlog [translog]="translog"></app-transactionlog>
    </div>
</div>
