.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.activatedNode {
  background: #89d7f4 linear-gradient(#c6ebff, #0caeff);
}

.padded {
  padding-top: 10px;
  padding-left: 25px;
}
