<div class="padded">
  <div class="row">
    <div *ngIf="!treeNode.isExpanding; else droppedexpanding;">
      <span *ngIf="treeNode.children.length > 0; else leaf;" (click)="changeIsExpanding($event)" class="btn btn-sm"><i class="fas fa-caret-square-down"></i></span>
    </div>
    <a *ngIf="treeNode.isActive; else otherwisea;"
       class="btn-sm btn-light noselect activatedNode"
       (click)="nodeClicked()"
       (dblclick)="changeIsExpanding($event)"
       (mouseenter)="mouseOvering($event)">
      {{ treeNode.categoryName }}
    </a>
  </div>

  <div *ngIf="treeNode.children && !treeNode.isExpanding">
    <app-treenode *ngFor="let child of treeNode.children"
                  [treeNode]="child" (activateEmitter)="nodeEmitted($event)">
    </app-treenode>
  </div>
</div>
<ng-template #droppedexpanding>
  <span *ngIf="treeNode.children.length > 0" (click)="changeIsExpanding($event)" class="btn btn-sm"><i class="fas fa-caret-square-right"></i></span>
</ng-template>
<ng-template #leaf>
  <span class="btn btn-sm"><i class="fas fa-book"></i></span>
</ng-template>
<ng-template #otherwisea >
  <a
     class="btn-sm btn-light noselect"
     (click)="nodeClicked()"
     (dblclick)="changeIsExpanding($event)"
     (mouseenter)="mouseOvering($event)">
    {{ treeNode.categoryName }}
  </a>
</ng-template>
