<hr>
<div class="container border border-info">
  <div class="row" style="padding-top: 5px;" (click)="toggleOpen($event)">
    <div class="col-lg-11">
      <h6>Transactions</h6>
    </div>
    <div class="col-lg-1">
      <span>
        <a>
          <i class="fas fa-angle-down"></i>
        </a></span>
    </div>
  </div>
  <div *ngIf="isOpen">
    <hr>
    <div style="overflow-y: auto; max-height: 100px;" *ngIf="translog.length > 0; else notrans;">
      <p *ngFor="let trans of translog">
        {{trans}}
      </p>
    </div>
  </div>
</div>
<ng-template #notrans>
  <div style="overflow-y: auto; max-height: 100px;">
    <p>
      There are no transactions yet to show. Try adding a root from the form above.
    </p>
  </div>
</ng-template>
