<div class="col-lg-12 border-right border-light" style="height: 100%; background: #ffffff; padding-left: 30px; padding-top: 20px; padding-right: 5px">
  <h5>Product Details</h5>
  <hr>
  Mediocre but rapidly evolving product.<br>
  <ul>
    <li>Tree nodes can only be created on name input.</li>
    <li>Clicking a node will allow you to add inner categories and update or delete them.</li>
    <li>We allow operations like Add Root, Add Node, Update Node and Remove Node.</li>
  </ul>
</div>
