<div class="container" style="padding-top: 50px">
  <div class="row">
    <div class="col-lg-12 form-group">
      <h3>Form</h3>
      <div class="row">
        <div class="col-lg-8">
          <hr>
        </div>
      </div>

      <label for="nametxt" class="col-form-label">Category Name </label>
      <input type="text" id="nametxt" class="form-control col-lg-5" [(ngModel)]="name" (input)="onTextEdited()">
      <label for="desctxt" class="col-form-label">Category Description </label>
      <input type="text" id="desctxt" class="form-control col-lg-5" [(ngModel)]="desc">
      <label for="selectorType" class="col-form-label">Category Type </label>
      <br>
      <select id="selectorType" class='select-option' required [(ngModel)]='selectedOption'>
        <option class='option' *ngFor='let option of typeOptions' [value]="option">{{option}}</option>
      </select>
      <br><br>
      <div class="div" *ngIf="name">
        <button class="btn btn-primary" type="button" (click)="onAddRootClick()">Add Root</button>
        <br><br>
        <div class="row">
          <div class="col-lg-12" *ngIf="state.ActiveNode">
            <div class="btn-group" role="group" aria-label="Basic example" *ngIf="state.ActiveNode">
              <button class="btn btn-primary" type="button" (click)="onAddClick()">Add</button>
              <button class="btn btn-danger" type="button" (click)="onDelClick()">Delete</button>
              <button class="btn btn-warning" type="button" (click)="onUpdClick()">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
